@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

:root {
  --primary-color: #1abc9c;
  --secondary-color: #e67e22;
  --light-color: #ecf0f1;
  --dark-color: #34495e;
}

body {
  background-color: var(--dark-color);
  font-family: 'Roboto', sans-serif;
  color: var(--light-color);
}

header {
  padding: 1.5rem 0;
  text-align: center;
  background: var(--light-color);
  color: var(--dark-color);
}

main {
  min-height: 75vh;
}

footer {
  background-color: var(--primary-color);
  padding: 1rem;
  text-align: center;
}

h1 {
  color: var(--primary-color);
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

h2 {
  text-transform: uppercase;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

a:hover {
  color: var(--light-color);
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}
